.container{
    width: 90%;
    margin: 0 auto;
}

.border{
    border-bottom: 1px solid #EEEEEE;
    height: 1vh;
    width: 100%;
}
@font-face {
    font-family: cairo;
    src: url('../../public/Cairo-Regular.ttf');
}


