.details-container{
    margin-top: 5%;
    padding: 15px 20px;
    border: 1px solid #EEEEEE;
    border-radius: 18px;
}
.top-section h4{
    color: #CBCBCB;
}
.top-section h3{
    color: #373E55;
}
.bottom-section h4{
    color: #2E3750;
}
.details-container .top-section{
    margin-bottom: 3%;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    justify-content: space-between;
}
.steps-info{
    display: flex;
    justify-content: space-between;
}
.bottom-section .progress-container{
    width: 95%;
    margin: 0 auto;
}
.rightToLeft h4 , .rightToLeft h3{
    transform: scaleX(-1);
    text-align: right;
  }
@media only screen and (max-width: 768px) {
    .top-section {
     flex-direction: column;
     align-items: center;
     text-align: center !important;
    }
    .rightToLeft h4 , .rightToLeft h3{
        text-align: center
    }
    .bottom-section{
        margin-top: 2%;
    }
  }
 
  